body {
    margin: 0;
    font-size: 12px;
    line-height: 1.3;
    font-family: Arial, Helvetica, Sans-Serif;
    color: #ccc;
    background: url('../img/body-bg.gif');

}

.navbar-brand{
    width:80px;
    height:55px;
}


h1,
h2,
h3,
h4 {
    font-family: "Dosis", sans-serif;
}

.carousel-item img {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
}

.header-dark {
    background: url('../img/body-bg.gif');
    padding-bottom: 40px;
}

#sub-navigation {
    display: block;
    clear: right;
    border-top: 1px dashed #666;
    border-bottom: 1px dashed #666;
    padding: 8px 0;
    margin-bottom: 10px;
}

#sub-navigation ul {
    list-style: none;
}

#sub-navigation ul li {
    float: left;
    display: inline;
    padding-right: 23px;
}

#sub-navigation  a {
    font-size: 12px;

    color: #fff;
    line-height: 24px;
    text-decoration: none;
}

#sub-navigation ul li a:hover {
    text-decoration: underline;
}

input,
textarea,
select {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    overflow: auto;
}

.cl {
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
    clear: both;
}

.notext {
    font-size: 0;
    line-height: 0;
    text-indent: -4000px;
}

.left,
.alignleft {
    float: left;
    display: inline;
}

.right,
.alignright {
    float: right;
    display: inline;
}

.text-right {
    text-align: right;
}

h2 {
    font-size: 12px;
    color: #f2a223;

}

h3 {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}

#sub-navigation {
    display: block;
    clear: right;
    border-top: 1px dashed #666;
    border-bottom: 1px dashed #666;
    padding: 8px 0;
}

#sub-navigation ul {
    list-style: none;
}

#sub-navigation ul li {
    float: left;
    display: inline;
    padding-right: 23px;
}

#sub-navigation ul li a {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 24px;
    text-decoration: none;
}

#sub-navigation ul li a:hover {
    text-decoration: underline;
}

#search {
    width: 346px;
    margin: 0 0 0 auto;
}

#search label {
    float: left;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    line-height: 24px;
    padding-right: 6px;
}

#search .search-field {
    width: 238px;
    border: 1px solid #413e3e;
    background: #000;
    color: #787878;
    padding: 2px 0 2px 2px;
}

#search .search-button {
    font-size: 14px;
    font-weight: bold;
    border: 0;
    background: none;
    color: #fff;
    cursor: pointer;
}

#main {
    border-bottom: 1px dashed #413e3e;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.box {
    display: flex;
    border-bottom: 1px dashed #413e3e;
    padding-bottom: 21px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.box .head {
    padding-top: 14px;
    padding-bottom: 11px;
}

.box .head h2 {
    float: left;
    display: inline;
}

.movie {
    width: 160px;
    height: 222px;
    position: relative;
    overflow:hidden;

}



.movie img{
    width: 100%;
    height: 100%;

}






.box .last {
    padding: 0;
}


#cinema {
    background: transparent;
    color: white;
    padding-bottom: 30px;
}

.cinemas {
    gap: 10px;
}

.cinema {
    border-radius: 10px;
    height: 40px;
    gap: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cinema-image {
    width: 15%;
}

.cinema-image img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}

.brands {
    display: flex;
    justify-content: space-around;
}


/*.footer-dark {
    padding-top: 50px;
    margin-bottom: -20px;
}*/

.selected {
    color: #ccc;
    background: url('../img/body-bg.gif');
    padding-bottom: 70px;
}

.selected-movie {
    display: flex;
    gap: 20px;
}

.selected-image {
    width: 50%;
    height: 400px;
}

.selected-image img {
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.trailer {
    height: 400px;
}

.trailer img {
    height: 85%;
}

@media screen and (max-width:768px) {

    #sub-navigation{
        display: none;
    }

}

.selected-about {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.selected-desc {
    width: 50%;
    overflow-wrap: break-word;
}

.selected-about h3 {
    font-size: 33px;
    font-family: 'Bitter', serif;
}

.selected-actors {
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
}

.selected-crew {
    display: flex;
    width: 30%;
}

.selected-actors img,
.selected-crew img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.movie-shows {

    gap: 10px;

}

.movie-show {
    border-radius: 5px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    width: 230px;
    height: 130px;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.movie-show:hover{
    width: 240px;
    height: 140px;
    padding: 15px 15px 15px 15px;

}

.seat-info{
    display: flex;

    gap: 20px;
}

.seat{
    width: 50px;
    height: 40px;
    border-radius: 5px;

}
.Reserved{
    background-color: #e06363;

}
.Selectedseat{
    background-color:  #35d935;
}
.Free{
    background-color: white;
}
.checkbox-alias{
    background-color: white;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    transition: all 250ms  ease-out;
    cursor: pointer;

    text-align: center;

}
.checkbox-alias1{
    background-color: #e06363;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    transition: all 250ms  ease-out;
  cursor: not-allowed;
    text-align: center;
    align-content: center;
}
.seat-check{
    color: black;
    width: 750px;
}
.seat-check p{

    font-size: 15px;
}
.seat-check input[type=checkbox]{
    display: none;

}
.seat-check input[type=checkbox]:checked + .checkbox-alias{
    background-color:  #35d935;

}
.payments{
    height: 500px;
}
.payment-modal{

    position: fixed;
    width:100vw;
   top:25px;
    left: 25%;


}

.payment-modal .card{

    width:60%;
    height: 80vh;
    padding: 20px 20px 20px 20px;

}

.hidden{
    display: none;
}

.exit{
    cursor: pointer;
}
.movie-shows h2{
text-decoration: none;
    font-size: 16px;
    text-underline: none;
    color:black;
}
.movie-shows h3{

    font-size: 16px;

}

.movie-shows a{
    text-decoration: none;

}
